:root {
	--text-color: rgb(228, 228, 228);
	--bg-color: rgb(74, 74, 74);
	--header-footer-color: rgb(90, 84, 73);
}

.lightMode {
	--text-color: rgb(50, 50, 50);
	--bg-color: rgb(211, 211, 211);
	--header-footer-color: rgb(195, 181, 155);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	display: grid;
	height: 100vh;
	grid-template-rows: auto minmax(0, 1fr) auto;
}

main {
	overflow: scroll;
}

#theme_toggle, #reset_counter {
	font-size: 64px;
	background: none;
	border-color: var(--text-color);
	border-style: solid;
	border-width: 2px;
	border-radius: 12px;
}

#reset_counter {
	font-size: 24px;
	height: 100%;
}

#theme_toggle, #reset_counter:hover {
	cursor: pointer;
}

header, footer {
	font-weight: 700;
	background-color: var(--header-footer-color);
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

#links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

header {
	font-size: 64px;
	text-align: center;
	padding-bottom: 14px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

main, footer {
	padding: 8px;
}

p {
	margin: 0;
}

ul, table {
	margin: 0 0 12px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

img {
	left: 50%;
	transform: translate(-50%, 0);
	position: relative;
}